.volume {
    input[type=range] {
      display: none;
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    .icon-size {
      font-size: 2rem;
    }
    
    .bar-hoverbox {
      padding: 10px 15px;
      opacity: 0.7;
      transition: opacity .2s;
      
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    
    .bar {
      background: #999;
      height: 7px;
      width: 120px;
      border-radius: 15px;
      overflow: hidden;
      pointer-events: none;
      
      .bar-fill {
        background: #FFF;
        width: 0%;
        height: 100%;
        background-clip: border-box;
        pointer-events: none;
      }
    }
  }

      
  #mute-button {
    background-image: url("unmute.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px; 
    height: 32px; 
    border: none;
    outline: none;
    cursor: pointer;
  }